.App {
  /* height: 100vh;
  margin: 0; */
}

main {
  text-align: center;
}

/* @media only screen and (max-width: 600px) {
  #main-container {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  #main-container {
    margin-left: 16rem;
  }
} */
