* {
  margin: 0;
}

:root {
  --transition-speed: 600ms;
}

body {
  font-size: 16px;
  font-family: 'Open Sans';
  /* background-color: #02203c; */
  background-color: whitesmoke;
  color: #0a131f;
}
